html {
  font-family: "Roboto", sans-serif;
  /* font-size: 90%; */
}

body {
  background-color: #f3e8ff;
  text-align: center;
  color: #f3e8ff;
}
h2 {
  /* background-color: black; */
  color: #581c87;
}

form {
  display: inline-block;
  background-color: #9333ea;
  /* margin: 5px 2px; */
  padding: 1rem;
  border-radius: 5%;
  border: 1mm ridge rgba(41, 75, 187, 0.338);
  box-shadow: 0.3rem 0.3rem 0.3rem #d8b4fe;
  padding: 1.6rem;
}

label {
  line-height: 2rem;
}

input {
  width: 30%;
  background-color: #d8b4fe;
  box-shadow: 0.05rem 0.05rem 0.01rem #d8b4fe;
  padding: 0.5rem;
  text-align: center;
  font-size: 1rem;
}

.hideme {
  display: none;
  visibility: hidden;
}

.showme {
  display: inline;
  visibility: visible;
}

.tipVal {
  background-color: #f3e8ff;
  /* font-size: 1.5rem; */
}

.btn {
  border-radius: 10%;
  background-color: #581c87;
  border: 1mm ridge rgba(41, 75, 187, 0.338);
  color: white;
  padding: 0.3rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 3.5px 1.5px;
}

.btn:hover,
.btn:active {
  background-color: #6b21a8;
  box-shadow: 0.05rem 0.05rem 0.01rem #d8b4fe;
  text-shadow: 0.03rem 0.03rem 0.01rem #d8b4fe;
}

.btn_reset {
  border-radius: 10%;
  background-color: #581c87;
  border: 1mm ridge rgba(41, 75, 187, 0.338);
  color: white;
  padding: 0.3rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  /* margin: 3.5px 1.5px; */
}

.btn_reset:hover,
.btn_reset:active {
  background-color: #6b21a8;
  box-shadow: 0.05rem 0.05rem 0.01rem #d8b4fe;
  text-shadow: 0.03rem 0.03rem 0.01rem #d8b4fe;
}
