body {
  background-color: #f3e8ff;
  text-align: center;
  color: #f3e8ff;
}
h2 {
  /* background-color: black; */
  color: #581c87;
}

form {
  display: inline-block;
  background-color: #9333ea;
  margin: 5px 2px;
  padding: 1rem;
  border-radius: 5%;
}

input {
  width: 40%;
  background-color: #f3e8ff;
}

.btn {
  border-radius: 10%;
  background-color: #581c87;
  border: 1mm ridge rgba(41, 75, 187, 0.338);
  color: white;
  padding: 0.2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 3.5px 1.5px;
}
